@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 14% 98%;
    --foreground: 230 10% 12%;
  }

  html, body {
    @apply h-full m-0 font-mont bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
    font-feature-settings: "liga" 1, "calt" 1;
  }
}

 
